body{
    background-color: pink;
    text-align: center;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a{
    color: darkblue;
    text-decoration: none;
}

a:hover{
    color: black;
}

main{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 10%;
    height: 10%;
}
figure{
    text-align: center;
    font-style: italic;
}
p{
    text-align: center;
}

table {
    margin: 0 auto; /* Centers the table horizontally */
    border-collapse: collapse; /* Collapses table borders */
    width: 100%; /* Makes the table take up the full width */
}

th, td {
    border: 1px solid black; /* Adds borders to cells */
    padding: 8px; /* Adds padding inside cells */
}

th {
    background-color: lightblue; /* Adds background color to header cells */
}

caption {
    font-weight: bold; /* Makes caption text bold */
}
